.gs-date {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: var(--text-tertiary);
  flex-shrink: 0;
  cursor: default;
  transition: var(--gs-transition);
  overflow: hidden;
  white-space: nowrap;

  > svg {
	width: 12px;
	height: 12px;
  }

  &:hover, &.gs-info-time-hover {
	color: var(--text-secondary);
  }
}
