.gs-author {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: var(--gs-text-secondary);
  cursor: default;

  .gs-author-avatar {
	border-radius: 100%;
	background: var(--gs-bg-tertiary);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-shrink: 0;
	width: 1.3em;
	height: 1.3em;
	min-width: 1.3em;

	img {
	  max-height: 100%;
	  object-fit: cover;
	}

	svg {
	  max-height: 100%;
	  color: var(--gs-text-tertiary);
	}
  }

  .gs-author-name {
	white-space: nowrap;
	display: flex;
	flex-flow: nowrap row;
	align-items: center;
	gap: 2px;
	flex-shrink: 1;

	> .gs-author-text {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  min-width: 0;
	  flex: 0 1 auto;
	}

	> .gs-author-icon {
	  flex: auto 0 0;
	  height: 1.2em;
	  flex-shrink: 0;

	  svg {
		height: 100%;
		width: 100%;
		transform: translateY(.2em);
	  }

	  &.type-vip, &.type-svip {
		transform: translateY(.2em);

		svg {
		  height: 90%;
		}
	  }

	  &.type-vip,
	  &.type-blue {
		color: var(--gs-color-blue);
	  }

	  &.type-business,
	  &.type-supper {
		color: var(--gs-color-purple);
	  }

	  &.type-svip,
	  &.type-government {
		color: var(--gs-color-gold);
	  }
	}
  }

  &.gs-author-clickable {
	cursor: pointer;
	opacity: 0.9;
	transition: opacity var(--gs-transition);

	&:hover {
	  opacity: 1;

	  .gs-author-name {
		text-decoration: underline;
	  }
	}
  }
}
