.gs-info-panel {
  background: var(--gs-panel-bg);
  backdrop-filter: blur(4px);
  padding: 12px 16px;
  color: var(--gs-text);
  display: flex;
  flex-direction: column;
  gap: 8px;

  .gs-info-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  .gs-info-link {
	color: var(--gs-text-secondary);
	transition: color var(--gs-transition);
	flex-shrink: 0;

	svg {
	  width: 16px;
	  height: 16px;
	  transition: transform var(--gs-transition);
	}

	&:hover {
	  color: var(--gs-text);

	  svg {
		transform: scale(1.1);
	  }
	}
  }

  .gs-info-author {
	font-size: 13px;
	opacity: 0.7;
  }

  .gs-info-content {
  }

}

.gs-player {
  &.layout-horizontal {
	.gs-info-panel {
	  background: none;
	  backdrop-filter: none;

	  > .gs-info-content {
		font-size: 16px;
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-height: 2.2em;
		max-width: 336px;
	  }
	}
  }

  &.layout-vertical {
	.gs-info-panel {
	  > .gs-info-content {
		font-size: 13px;
		height: 3.5em;
		overflow: auto;
	  }
	}
  }
}
