.gs-player-play-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background 0.3s;
  cursor: pointer;
  z-index: 1;

  //&.muted {
	//background: transparent;
  //}
  //
  //&.paused {
	//background: rgba(0, 0, 0, 0.5);
  //}

  >.gs-play-overlay-button {
	--btn-size: min(max(40px, calc(var(--player-core-width) * 0.15)), 80px);
	width: var(--btn-size);
	height: var(--btn-size);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
	transition: transform 0.2s, background 0.2s;

	svg {
	  --btn-svg-size: calc(var(--btn-size) * 0.55);
	  width: var(--btn-svg-size);
	  height: var(--btn-svg-size);
	  color: #fff;
	}
  }

  &:hover .gs-play-overlay-button {
	transform: scale(1.1);
	background: rgba(0, 0, 0, 0.8);
  }
}

//.gs-player.layout-horizontal .gs-player-play-overlay {
//  max-height: calc(100% - 140px);
//  >.gs-play-overlay-button {
//	transform: translateY(70px);
//  }
//}
