.gs-player {
  .gs-info-panel {
	background: var(--gs-panel-bg);
	backdrop-filter: blur(4px);
	padding: 12px 0;
	color: var(--gs-text);
	display: flex;
	flex-direction: column;
	gap: 8px;
	z-index: 2;

	> .gs-info-header, > .gs-info-content {
	  padding: 0 16px;
	  pointer-events: auto;
	}

	> .gs-info-header {
	  display: flex;
	  align-items: center;
	  gap: 1.5%;

	  > .gs-author {
		font-size: 13px;
		opacity: 0.7;
		flex-shrink: 0;
		margin-right: 8px;
	  }

	  > .gs-date {
		transform: translateY(2px);
	  }

	  > .gs-btn-wrapper > .gs-btn {
		width: 28px;
		height: 28px;

		svg {
		  width: 18px;
		  height: 18px;
		}
	  }
	}

  }

  &.layout-horizontal {
	.gs-info-panel {
	  overflow-y: auto;
	  background: none;
	  backdrop-filter: none;
	  position: absolute;
	  left: 2px;
	  transition: var(--gs-transition);
	  width: 40%;
	  > .gs-info-header{
		text-shadow: .2em .2em 10px rgba(255, 255, 255, 0.5);
	  }

	  > .gs-info-content {
		font-size: 15px;
		font-weight: 600;
		line-height: 1.8em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 1.8em;
		max-width: 336px;
		transition: all .1s;
		text-shadow: .2em .2em 10px rgba(0, 0, 0, 0.5);
	  }

	  &.hovered {
		> .gs-info-content {
		  max-height: calc(100% - 48px);
		  max-width: 100%;
		  overflow: auto;
		  white-space: break-spaces;
		  word-break: break-word;
		  word-wrap: break-word;
		}
	  }

	}
  }

  &.layout-vertical {
	.gs-info-panel {
	  > .gs-info-content {
		font-size: 13px;
		line-height: 1.5em;
		height: 4.5em;
		overflow: auto;
	  }
	}
  }
}
