.gs-player {
  display: flex;
  flex-direction: column;
  background: var(--gs-bg);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;

  .gs-player-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;

	.gs-progress-container {
	  transform: translateY(-3px);
	  z-index: 1;
	}
  }

  .gs-playlist,
  .gs-info-panel section {
	border-top: 1px solid var(--border-light);
  }

  &.layout-vertical {
	.gs-info-panel {
	  order: 2;
	  display: flex;
	}

	.gs-video-wrapper {
	  order: 1;
	}
  }

  &.layout-horizontal {
	flex-direction: row;

	.gs-video-wrapper {
	  flex: 60% 3 1;
	  position: relative;
	  width: auto;
	  height: auto;
	  min-height: var(--player-core-height, 240px);
	}

	.gs-info-panel {
	  bottom: calc(var(--gs-ctrl-h) + var(--gs-progress-min-h) + 8px);
	  max-height: calc(100% - var(--gs-ctrl-h) - var(--gs-progress-min-h) - 48px);
	}
  }

  &.fullscreen {
	position: fixed;
	inset: 0;
	z-index: 9999;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }

  &:not(.controls-visible) {
	&.layout-horizontal .gs-info-panel {
	  transform: translateY(calc(var(--gs-ctrl-h) + 6px));
	  transition-delay: var(--gs-progress-out-delay);
	}

	.gs-progress-container {
	  transform: translateY(calc(var(--gs-ctrl-h) - 4px));
	  transition-delay: var(--gs-progress-out-delay);

	  .gs-progress-track {
		background: transparent;
	  }
	}

	.gs-controls {
	  transform: translateY(100%);
	  transition-delay: var(--gs-progress-out-delay);
	}
  }

  &.controls-visible {
	.gs-controls {
	  transform: translateY(0%);
	  transition-delay: 0s !important;
	}

	&.layout-horizontal.list-visibility-always .gs-video-wrapper {
	  padding-bottom: 44px;
	}

	&.layout-horizontal .gs-info-panel {
	  transform: translateY(12px) !important;
	  transition-delay: 0s !important;
	}

	.gs-progress-container {
	  transform: translateY(-3) !important;
	  transition-delay: 0s !important;
	}
  }
}
