/* 基础结构 */
.gs-player {

  &,& *{
	box-sizing: border-box;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
  }

  &.is-web-fullscreen {
	position: fixed;
	inset: 0;
	z-index: 9999;
	background: #000;
	overflow: hidden;
  }

  &:not(:fullscreen):not(.is-web-fullscreen):hover .player-main .gs-player-footer {
	.gs-progress-container {
	  transform: translateY(2px);
	  transition-delay: 0s;
	}

	.gs-controls {
	  transform: translateY(0%);
	  transition-delay: 0s;
	}
  }

  &.is-web-fullscreen .player-main {
	padding-bottom: 0;

	.gs-progress-container {
	  transform: translateY(46px);
	}
  }
}
