.gs-player {
  position: relative;

  .gs-title-float-panel,
  .gs-right-float-panel {
	position: absolute;
	background: transparent;
	z-index: 15;
	transition: var(--gs-transition);
	pointer-events: auto;
	overflow: hidden;
	right: 0;
  }

  .gs-title-float-panel {
	top: 0;
	left: 0;
	display: flex;
	flex-flow: nowrap row;
	justify-content: center;
	align-items: stretch;
	max-height: 50%;

	> div {
	  flex: 406px 0 1;
	  background-color: var(--bg-secondary);

	  &, > div {
		transition: var(--gs-transition);
	  }

	  > .gs-info-panel {
		flex-flow: nowrap column-reverse;

		> section {
		  height: auto;
		  min-height: auto;
		  max-height: 100%;
		  padding: var(--spacing-lg);
		  border: none;
		}
	  }
	}

	&:not(:hover) {
	  height: 48px;

	  > div {
		transform: translateY(-90em);
	  }
	}

	&:hover {
	  height: auto;

	  > div {
		transform: translateY(0);
	  }
	}
  }

  .gs-right-float-panel {
	top: 48px;
	bottom: 48px;
	width: 48px;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
	max-width: 320px;

	> ul {
	  max-width: 100%;
	  transition: var(--gs-transition);
	}

	&:not(:hover) {
	  width: 48px;

	  > ul {
		opacity: 0;
		transform: translateX(320px);
	  }
	}

	&:hover {
	  width: 40%;

	  > ul {
		opacity: 1;
		transform: translateX(0);
	  }
	}
  }

  &:not(:fullscreen):not(.is-web-fullscreen) {
	.gs-title-float-panel,
	.gs-right-float-panel {
	  display: none;
	}
  }
}
