.gs-player {
  position: relative;

  .gs-player-play-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	padding-bottom: 5px;

	.gs-play-overlay-button {
	  width: 80px;
	  height: 80px;
	  border-radius: 50%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  pointer-events: auto;
	  cursor: pointer;
	  transition: transform 0.2s ease;
	  //background: var(--gs-hover-bg);

	  svg {
		width: 50%;
		height: 50%;
		path{
		  filter: drop-shadow(0 0 .15rem var(--gs-track-bg));
		}
	  }
	}

	&:hover > .gs-play-overlay-button {
	  transform: scale(1.1);
	}
  }

  // 确保控制栏和进度条在覆盖层之上
  .gs-player-footer {
	z-index: 20;
  }
}
