.gs-player {
  position: relative;

  .gs-player-play-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	padding-bottom: 5px;
	transition: var(--gs-transition);

	.gs-play-overlay-button {
	  width: 60px;
	  height: 60px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  pointer-events: auto;
	  cursor: pointer;
	  transition: var(--gs-transition);
	  color: rgb(from var(--gs-text) r g b / 75%);
	  border: solid 3px rgb(from var(--gs-text) r g b / 50%);
	  border-radius: 100%;

	  svg {
		width: 50%;
		height: 50%;

		path {
		  filter: drop-shadow(0 0 .12rem var(--gs-track-bg));
		  transition: var(--gs-transition);
		}
	  }
	}

	&.paused {
	  background-color: rgba(0, 0, 0, 0.35);
	  backdrop-filter: blur(1.5px);
	}

	&:hover > .gs-play-overlay-button {
	  transform: scale(1.1);

	  path {
		filter: drop-shadow(0 0 .12rem var(--gs-track-bg)) drop-shadow(0 0 .15rem var(--gs-track-bg));
	  }
	}
  }

  // 确保控制栏和进度条在覆盖层之上
  .gs-player-footer {
	z-index: 20;
  }
}
